{% extends 'base.html' %}
{% block content %}



<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-header">
            Contact Us
        </div>
        <div class="card-body">
            <div class="card-title">Contact Info</div>
            <div class="card-text">
                <p>Use these information for contact us:</p>
                <ul>
                    <li>Github Account: <a href="https://github.com/DrM0h4MM4d/">https://github.com/DrM0h4MM4d/</a></li>
                    <li>TelegramChannel: <a href="https://t.me/D3V-Chat">D3V-Chat</a> </li>
                    <li>OurEmail: <a href="mailto:ourEmail@gmail.com">ourEmail@gmail.com</a></li>
                </ul>
                <p>You can use them for reporting your issues or problems.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}